<footer class="bg-slate-900 text-center p-3">
Made by <a href='https://www.github.com/rspisarski' target="_blank" class="text-orange-600 hover:underline-offset-2 hover:underline">Richard Pisarski</a>
</footer>