<footer class="mt-auto">
<div class="bg-violet-900 text-center p-3 mt-12">
    Made by <a href='https://www.github.com/rspisarski' target="_blank" class="text-cyan-500 hover:underline-offset-2 hover:underline">Richard Pisarski</a>
</div>
</footer>