---
import { Image } from 'astro:assets';
import heroImage from "../assets/logo-2.svg";   
import Navigation from './Navigation.astro';

---

<header class="flex flex-col lg:flex-row justify-between items-center p-6 lg:p-12 lg:align-stretch sticky top-0 gap-4 lg:gap-0 z-50 w-full group" id="header">
    
    <div class="h-auto w-full lg:w-52 hover:bg-gradient-to-r bg-gradient-to-l from-teal-400 to-teal-500 rounded-xl lg:rounded-3xl hidden lg:flex items-center shadow-xl">
        <a class="text-center lg:h-full w-full block px-2 lg:p-3 font-display text-sm lg:text-xl" href="/">Ricahrd Pisarski</a>
    </div>
    
    <div class="h-screen lg:h-auto fixed left-0 top-0 lg:static items-center uppercase tracking-widest text-xs w-full lg:w-auto hidden lg:flex">
        <Navigation />
    </div>
    
    <div class="relative shadow-xl w-full lg:hidden h-auto uppercase tracking-widest font-bold bg-gradient-to-r from-violet-600 to-violet-500 hover:bg-gradient-to-l hover:from-violet-700 hover:to-violet-800 transition-colors rounded-md lg:rounded-full px-6 py-2 flex justify-between gap-2 flex-row-reverse text-xs" id="hamburger">
        <div class="hamburger absolute right-6 top-2">
            <div class="hamburger__line bg-slate-200"></div>
            <div class="hamburger__line bg-slate-200"></div>
            <div class="hamburger__line bg-slate-200"></div>
        </div>
        <div class="w-full">
            <a class="text-center lg:h-full w-auto inline-block p-2 lg:p-3 font-display text-lg lg:text-xl" href="/">Ricahrd Pisarski</a>
            <div class="hidden group-[.menu-opened]:flex">
                <Navigation />
            </div>
        </div>
    </div>
</header>


<style is:global>
    #hamburger { 
        cursor: pointer;
    }
    .hamburger {
        display: inline-block;
        cursor: pointer;
        transition: 0.4s;
    }
    
    .hamburger__line {
        width: 35px;
        height: 3px;
        margin: 8px 0;
        transition: 0.4s;
        border-radius: 100px;
    }
    
    .hamburger__active .hamburger .hamburger__line:nth-child(1) {
        transform: rotate(-45deg) translate(-9px,7px)
    }
    
    .hamburger__active .hamburger .hamburger__line:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger__active .hamburger .hamburger__line:nth-child(3) {
        transform: rotate(45deg) translate(-9px,-6px)
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const hamburger = document.getElementById("hamburger");
        const header = document.getElementById("header");
        
        hamburger.addEventListener("click", function () {
            hamburger.classList.toggle("hamburger__active");
            header.classList.toggle("menu-opened");
        });
    });
</script>