---
import { Image } from 'astro:assets';
import heroImage from "../assets/logo-2.svg";   
import Navigation from './Navigation.astro';

---

<header class="flex justify-between items-center p-6 md:p-12 md:align-stretch sticky top-0 gap-3 md:gap-0 z-50 w-full">
    <div class="h-16 md:h-auto w-52 hover:bg-gradient-to-r bg-gradient-to-l from-teal-400 to-teal-500 rounded-xl md:rounded-3xl flex items-center shadow-xl">
        <a class="text-center md:h-full w-full block px-2 md:p-3 font-display text-sm md:text-xl" href="/"> Ricahrd Pisarski </a>
    </div>
    <div class="h-auto items-center uppercase tracking-widest text-xs">
        <Navigation />
    </div>
    <!-- <div class="shadow-xl h-16 md:h-auto w-52 uppercase tracking-widest font-bold bg-slate-800 hover:bg-gradient-to-r from-violet-600 to-violet-500 transition-colors rounded-xl md:rounded-3xl px-6 flex items-center justify-between gap-2 flex-row-reverse text-xs" id="hamburger">
        <div class="hamburger">
            <div class="hamburger__line bg-slate-200"></div>
            <div class="hamburger__line bg-slate-200"></div>
            <div class="hamburger__line bg-slate-200"></div>
        </div>
        <span class="">Menu</span>
    </div> -->
</header>


<style>
    #hamburger { 
        cursor: pointer;
    }
    .hamburger {
        display: inline-block;
        cursor: pointer;
        transition: 0.4s;
    }
    
    .hamburger__line {
        width: 35px;
        height: 3px;
        margin: 8px 0;
        transition: 0.4s;
        border-radius: 100px;
    }
    
    .hamburger__active .hamburger .hamburger__line:nth-child(1) {
        transform: rotate(-45deg) translate(-9px,7px)
    }
    
    .hamburger__active .hamburger .hamburger__line:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger__active .hamburger .hamburger__line:nth-child(3) {
        transform: rotate(45deg) translate(-9px,-6px)
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const hamburger = document.getElementById("hamburger");
        
        hamburger.addEventListener("click", function () {
            hamburger.classList.toggle("hamburger__active");
        });
    });
</script>