---
import navigation from '../data/navigation.json';

const links = navigation.navbar_links;
---

<nav class="flex gap-8">
{links.map((link: any) => ( 
    <a 
    href={link.url} 
    class="px-10 py-3 bg-pink-700 hover:shadow-inner hover:bg-gradient-to-r from-teal-400 to-teal-500 rounded-2xl flex items-center transition-colors" 
    target={link.target}>{link.nav_title}
    </a>
    ))
}
</nav>