---
import navigation from '../data/navigation.json';

const links = navigation.navbar_links;
---

<nav class="w-full lg:w-auto flex lg:flex-row flex-col gap-2 lg:gap-8 p-4 lg:p-0">
{links.map((link: any) => ( 
    <a 
    href={link.url} 
    class="w-full lg:w-auto flex-grow lg:flex-grow-0 px-10 py-3 bg-pink-700 hover:shadow-inner hover:bg-gradient-to-r from-teal-400 to-teal-500 rounded-2xl flex items-center transition-colors justify-center" 
    target={link.target}>{link.nav_title}
    </a>
    ))
}
</nav>